.fishinfo h4,
.pointerinfo h4,
.weatherinfo h4 {
  margin-top: 30px;
  text-align: center;
}

.weatherinfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* 이 부분은 선택 사항이며, .weatherinfo 내의 모든 요소를 수직으로 정렬하려는 경우에만 필요합니다. */
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* 버튼과 지도가 같은 높이에 위치하도록 */
  width: 1000px;
  margin-bottom: 20px; /* 예보와의 간격 */
}

/* 버튼 컨테이너 스타일 */
.vertical-button-container {
  display: flex;
  flex-direction: column;
  margin-right: 50px; /* 버튼과 지도의 오른쪽 간격 */
}

/* 버튼 스타일 */
.vertical-button-container button {
  background-color: white;
  cursor: pointer;
  transition: background-color 0.2s;
  white-space: nowrap; /* 버튼 내 텍스트 줄 바꿈 방지 */
  border-top: 1px solid #ccc; /* 상단 테두리 */
  border-bottom: 1px solid #ccc; /* 하단 테두리 */
  border-left: none; /* 좌측 테두리 없음 */
  border-right: none; /* 우측 테두리 없음 */
  width: 200px;
  padding: 10px;
}

/* 클릭 상태 */
.vertical-button-container button:active {
  background-color: #004085;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1); /* 클릭 시 그림자 약화 */
  transform: scale(1); /* 원래 크기로 */
}

/* 맵 컨테이너 스타일 */
.map-container {
  flex-grow: 1; /* 맵 컨테이너가 남은 공간을 채우도록 설정 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container {
  display: flex; /* 요소들을 행 형태로 배치 */
  justify-content: center; /* 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  gap: 10px; /* 요소들 사이의 간격 */
}

.map {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 600px;
  margin-top: 30px;
}

.hourly-forecast-slider {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 20px; /* 예보 슬라이더와 지도 사이 간격 조정 */
}

button {
  background-color: #f2f2f2;
  border: none;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: #ddd;
  }
}

/* 각 예보 아이템에 일정한 너비를 설정하여 슬라이드 간격이 일정하게 유지되도록 합니다. */
.forecast-item {
  width: 110px; /* 필요한 너비로 조정 가능합니다 */
  border: 1px solid #ddd; /* 테두리 스타일 */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* 약간의 그림자 효과 */
  border-radius: 5px; /* 테두리 모서리를 둥글게 */
  text-align: center; /* 내용 중앙 정렬 */
}

/* .hourly-forecast 스타일에 아래의 속성을 추가하여 자식 요소들 사이의 간격이 일정하게 유지되도록 합니다. */
.hourly-forecast {
  display: flex;
  justify-content: space-between;
}
